services:
  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    restart: always
    ports:
      - "1883:1883"
      - "9001:9001"
    networks:
      - power_hub_simulation
    volumes:
      - ./docker/mosquitto.conf:/mosquitto/config/mosquitto.conf
  
  influxdb:
    image: influxdb
    container_name: influxdb
    restart: always
    ports:
      - "8086:8086"
    networks:
      - power_hub_simulation
    volumes:
      - influxdb-data:/var/lib/influxdb2
      - influxdb-config:/etc/influxdb2
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: ${INFLUXDB_USER}
      DOCKER_INFLUXDB_INIT_PASSWORD: ${INFLUXDB_PASS}
      DOCKER_INFLUXDB_INIT_ORG: ${INFLUXDB_ORGANISATION}
      DOCKER_INFLUXDB_INIT_BUCKET: ${INFLUXDB_TELEGRAF_BUCKET}
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${INFLUXDB_TOKEN}
  
  telegraf:
    image: telegraf
    container_name: telegraf
    restart: always
    volumes:
      - ./docker/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    depends_on:
      - mosquitto
      - influxdb
    networks:
      - power_hub_simulation
    env_file:
      - .env

  simulation:
    depends_on:
      - mosquitto
      - telegraf
    container_name: simulation
    build:
      context: .
      dockerfile: python_script.Dockerfile
    command: "run_power_hub_simulation"
    networks:
      - power_hub_simulation
    env_file:
      - .env

  power_hub_api:
    depends_on:
      - influxdb
    container_name: power_hub_api
    ports:
      - "5001:5001"
    build:
      context: .
      dockerfile: python_script.Dockerfile
    command: "run_power_hub_api"
    networks:
      - power_hub_simulation
    env_file:
      - .env

networks:
  power_hub_simulation:

volumes:
  influxdb-data:
  influxdb-config:
