replicaCount: 1

nameOverride: "power-hub-simulation"

image:
  repository: europe-west1-docker.pkg.dev/code-zero-zem/power-hub/python-app
  tag: latest
  pullPolicy: Always
imagePullSecret: artifact-registry
container:
  commands: 
  - "poetry"
  - "run"
  - "run_power_hub_simulation"
  env: 
    MQTT_HOST: vernemq-internal.default.svc.cluster.local
    MQTT_USERNAME: power-hub
