replicaCount: 3

nameOverride: "power-hub-api"

image:
  repository: europe-west1-docker.pkg.dev/code-zero-zem/power-hub/python-app
  tag: latest
  pullPolicy: Always
imagePullSecret: artifact-registry
container:
  commands: 
  - "poetry"
  - "run"
  - "run_power_hub_api"

initialDelaySeconds: 10

ingress:
  enabled: true
  tls: false
  annotations:
    kubernetes.io/ingress.allow-http: "true"

service:
  type: NodePort
  port: 80
  targetPort: 5001
  portName: http
