replicaCount: 1

config: 
  outputs:
    - file:
        files: 
        - "stdout"
  inputs:
    - mqtt_consumer:
        topics:
          - "power_hub/#"
        data_format: "json_v2"
      - json_v2:
          timestamp_path: "time"
          timestamp_format: "2006-01-02T15:04:05.000000-07:00"
          - object:
              path: "@this"
service:
  enabled: false
