tplVersion: 2
replicaCount: 1

config: 
  outputs:
    - file:
        files: 
        - "stdout"
  inputs:
    - mqtt_consumer:
        username: "readonly"
        password: "w*j4kyhLPxaGwsuPi%pgL"

        topics:
          - "power_hub/sensor_values"
          - "power_hub/enriched_sensor_values"
          - "power_hub/control_modes"
          - "power_hub/control_values"
        data_format: "json_v2"
        json_v2:
          - timestamp_path: "time"
            timestamp_format: "unix_ms"
            object:
            - path: "@this"
service:
  enabled: false
