name: Test
on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - run: pipx install poetry==1.7.1

      - run: poetry install

      - run: poetry check

      - name: Black
        run: poetry run black --check energy_box_control tests

      - name: Type check
        run: poetry run pyright

      - name: Test
        run: poetry run pytest
