name: Test and deploy
on:
  push:

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - run: pipx install poetry==1.7.1

      - run: poetry install
      
      - run: poetry check

      - name: Black
        run: poetry run black --check energy_box_control tests

      - name: Type check
        run: poetry run pyright

      - name: Test
        run: poetry run pytest

      - run: docker-compose up -d telegraf

      - name: Integration tests
        run: poetry run pytest -s --runintegration tests/api/test_api_integration.py
        env:
          MQTT_HOST: "0.0.0.0"
          INFLUXDB_URL: "http://0.0.0.0:8086"
          API_TOKEN: "s4fczYTbDrf6ZFlvGHjOg5zFtJqbglZaJ5SOK7FCCdaoGhd6LVA87hHJjBoz2lC4"
          OPEN_WEATHER_API_KEY: ${{ secrets.OPEN_WEATHER_API_KEY }}
          PAGERDUTY_SIMULATION_KEY: ${{ secrets.PAGERDUTY_SIMULATION_KEY}}
      
      - name: Clear docker volumes
        run: docker-compose down -v

      - run: docker-compose up -d
        env:
          PAGERDUTY_SIMULATION_KEY: ${{ secrets.PAGERDUTY_SIMULATION_KEY}}
  
      - name: Simulation integration tests
        run: poetry run pytest -s --runintegration tests/simulation/test_simulation_integration.py
        env:
          INFLUXDB_URL: "http://0.0.0.0:8086"
          API_TOKEN: "s4fczYTbDrf6ZFlvGHjOg5zFtJqbglZaJ5SOK7FCCdaoGhd6LVA87hHJjBoz2lC4"
      
      - name: Run simulation notebook
        run: poetry run jupyter nbconvert --execute --to html analysis/simulate_powerhub.ipynb
      
      - uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: 1.7.1
      
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: google-github-actions/auth@v2
        with:
          token_format: "access_token"
          workload_identity_provider: ${{vars.WORKLOAD_IDENTITY_PROVIDER}}
          service_account: ${{vars.SERVICE_ACCOUNT}}

      - run: tofu init
        working-directory: ./infra
      
      - run: tofu plan 
        working-directory: ./infra
        env:
          TF_VAR_influxdb_admin_token: ${{secrets.INFLUXDB_ADMIN_TOKEN}}
          TF_VAR_influxdb_admin_password: ${{secrets.INFLUXDB_ADMIN_PASSWORD}}
          TF_VAR_cloudflare_api_token: ${{secrets.CLOUDFLARE_K8S_API_TOKEN}}
          TF_VAR_vernemq_power_hub_password: ${{secrets.VERNEMQ_POWER_HUB_PASSWORD}}
          TF_VAR_openweather_api_key: ${{secrets.OPEN_WEATHER_API_KEY}}
          TF_VAR_power_hub_api_token: ${{secrets.POWER_HUB_API_TOKEN}}
          TF_VAR_pagerduty_simulation_key: ${{secrets.PAGERDUTY_SIMULATION_KEY}}
          TF_VAR_pagerduty_mqtt_checker_key: ${{secrets.PAGERDUTY_MQTT_CHECKER_KEY}}
          TF_VAR_pagerduty_gke_key: ${{secrets.PAGERDUTY_GKE_KEY}}
          TF_VAR_python_app_image_tag: ${{github.sha}}
          TF_VAR_send_notifications: false

  deploy:
    timeout-minutes: 10
    if: github.ref == 'refs/heads/main'
    needs: test
    concurrency:
      group: ${{ github.workflow }}-deploy
    
    env:
      PROJECT_ID: power-hub-423312
      ZONE: europe-west1
      GAR: europe-west1-docker.pkg.dev
      REPO: power-hub

    permissions:
      contents: 'read'
      id-token: 'write'

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: google-github-actions/auth@v2
        with:
          token_format: "access_token"
          workload_identity_provider: ${{vars.WORKLOAD_IDENTITY_PROVIDER}}
          service_account: ${{vars.SERVICE_ACCOUNT}}

      - id: 'login-art-registry'
        name: 'Login to Artifact Registry'
        uses: docker/login-action@v3
        with:
          registry: ${{env.GAR}}
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: 'Docker build Python app'
        run: >
          docker build
          --platform linux/amd64
          --tag "${{env.GAR}}/${{env.PROJECT_ID}}/${{env.REPO}}/python-app:${GITHUB_SHA}"
          --tag "${{env.GAR}}/${{env.PROJECT_ID}}/${{env.REPO}}/python-app:latest"
          . -f python_script.Dockerfile

      - name: 'Docker push Python app sha'
        run: >
          docker push
          "${{env.GAR}}/${{env.PROJECT_ID}}/${{env.REPO}}/python-app:${GITHUB_SHA}"

      - name: 'Docker push Python app latest'
        run: >
          docker push
          "${{env.GAR}}/${{env.PROJECT_ID}}/${{env.REPO}}/python-app:latest"

  deploy-infra:
    if: github.ref == 'refs/heads/main'
    concurrency:
      group: ${{ github.workflow }}-deploy

    permissions:
      contents: 'read'
      id-token: 'write'

    needs: deploy
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: 1.7.1
      
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: google-github-actions/auth@v2
        with:
          token_format: "access_token"
          workload_identity_provider: ${{vars.WORKLOAD_IDENTITY_PROVIDER}}
          service_account: ${{vars.SERVICE_ACCOUNT}}
      
      - run: tofu init
        working-directory: ./infra

      - run: tofu apply --auto-approve
        working-directory: ./infra
        env:
          TF_VAR_influxdb_admin_token: ${{secrets.INFLUXDB_ADMIN_TOKEN}}
          TF_VAR_influxdb_admin_password: ${{secrets.INFLUXDB_ADMIN_PASSWORD}}
          TF_VAR_cloudflare_api_token: ${{secrets.CLOUDFLARE_K8S_API_TOKEN}}
          TF_VAR_vernemq_power_hub_password: ${{secrets.VERNEMQ_POWER_HUB_PASSWORD}}
          TF_VAR_openweather_api_key: ${{secrets.OPEN_WEATHER_API_KEY}}
          TF_VAR_power_hub_api_token: ${{secrets.POWER_HUB_API_TOKEN}}
          TF_VAR_pagerduty_simulation_key: ${{secrets.PAGERDUTY_SIMULATION_KEY}}
          TF_VAR_pagerduty_mqtt_checker_key: ${{secrets.PAGERDUTY_MQTT_CHECKER_KEY}}
          TF_VAR_pagerduty_gke_key: ${{secrets.PAGERDUTY_GKE_KEY}}
          TF_VAR_python_app_image_tag: ${{github.sha}}
          TF_VAR_send_notifications: true
